<?xml version="1.0"?>
<configuration>
     <appSettings>
          <add key="smtp_server" value="192.168.10.11"/>
          <add key="smtp_port" value="25"/>

          <add key="EmplID" value="12345"/>
          <add key="Password" value="0000"/>
          <add key="MaxTries" value="5"/>
          <add key="Timeout" value="10000"/>
          <add key="LogFile" value="C:\Weavver\Vendors\freeswitch\Debug\mod\Managed\output.log"/>
          <add key="Subject" value="New Lead for TimeClock IVR"/>
          <add key="Message" value="New call to Telephone Time Clock demo from phone number:"/>
          <add key="SMTPClient" value="192.168.10.11"/>
          <add key="FromEmail" value="leads@weavver.com"/>
          <add key="ToEmail" value="protocolman@weavver.com, mitchel@weavver.com"/>
          <add key="CallerIDNumber" value="caller_id_number"/>
          <add key="ExecuteState" value="CS_EXECUTE"/>
          <add key="PlaybackCommand" value="Playback"/>
          <add key="Welcome" value="wvvr-welcome.wav"/>
          <add key="EnterID" value="wvvr-enterID.wav"/>
          <add key="BadID" value="wvvr-badID.wav"/>
          <add key="EnterPasscode" value="wvvr-enterPasscode.wav"/>
          <add key="BadPasscode" value="wvvr-badPasscode.wav"/>
          <add key="SuccesfulLogin" value="wvvr-successfulLogin.wav"/>
          <add key="PunchIn" value="wvvr-punchIn.wav"/>
          <add key="SuccessfulPunchIn" value="wvvr-successfulPunchIn.wav"/>
          <add key="PunchOut" value="wvvr-punchOut.wav"/>
          <add key="SuccessfulPunchOut" value="wvvr-successfulPunchOut.wav"/>
          <add key="Absence" value="wvvr-absence.wmv"/>
          <add key="AbsenceRecorded" value="wvvr-absenceRecorded.wmv"/>
     </appSettings>
     <startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
</configuration>
